@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@theme {
  --color-pawnstorm-blue: #0a1e3f;
  /* --color-pawnstorm-blue: #447395; */
  --color-pawnstorm-gold: #ffd839;
  --color-pawnstorm-gold-hov: #ffec9c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-fadeIn: fadeIn 0.5s ease-in forwards;
  --animate-blinking: blinking 1.1s infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .gold-shadow {
    box-shadow: 0 0 20px rgba(255, 216, 57, 1);
  }

  .hover\:gold-shadow:hover {
    box-shadow: 0 0 30px rgba(255, 216, 57, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinking {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
